/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
 body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
 }
  .wrap{
	width:95%;
	margin:0 auto;
 }
 .header_top{
 	background:#222;
 	border-bottom:2px solid #00A1DA;
 	padding:10px 0;
 }
  .logo{
	text-align:center;
 }
 .dail{
 	text-align:center;
 	padding-top:5px;
 }
 .dail h4{
 	font-size:1.2em;
 	color:#00A1DA;
 }
 .dail p{
 	font-size:0.8em;
 	color:#FFF;
 	padding:3px 0;
 	letter-spacing:2px;
 	cursor:pointer;
 }
 .dail p img{
 	vertical-align:middle;
 	padding-right:5px;
 }
 .slider img{
 	width:100%;
 }
.header-bottom{
	 background: url(../images/menu2-bg.gif) repeat-x 0 0 #171717;	
}
.menu{
	text-align:center;
}
.menu li{
	display:inline-block;	
}
.menu li a{
	color:#FFF;
	font-size:0.7em;
	padding:15px 3px;
	display: block;
	text-align:center;
	 color:#ccc;	
}
.menu li:nth-child(5) a{
	border:none;
}
.menu li a:hover,.menu li.active a{
	background:#00A1DA;	
	color:#FFF;
}
/** Social Icons **/
.social-icons{
	text-align:center;
	margin:0 auto;
	padding:15px 0;
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left:0;
}
.social-icons li {
	display:inline-block;
	width:40px;
	height: 40px;
	background: none;
	 padding: 0px;
	 margin-left:5px;
	 border-radius:50%;
}
.social-icons li a {
	height:40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: url(../images/social-icons.png);
	border:1px solid #222;	
}
.social-icons a.facebook:hover {
	background-position: 0px bottom;
}
.social-icons a.facebook {
	background-position: 0px top;
}
.social-icons a.twitter {
	background-position: -40px top;
}
.social-icons a.twitter:hover {
	background-position: -40px bottom;
}
.social-icons a.googleplus {
	background-position: -440px top;
}
.social-icons a.googleplus:hover {
	background-position: -440px bottom;
}
.social-icons a.pinterest {
	background-position: -480px top;
}
.social-icons a.pinterest:hover {
	background-position: -480px bottom;
}
.social-icons a.dribbble {
	background-position: -160px top;
}
.social-icons a.dribbble:hover {
	background-position: -160px bottom;
}
.social-iconst a.dribbble:hover {
	background-position: -160px bottom;
}
.social-icons a.vimeo {
	background-position: -120px top;
}
.social-icons a.vimeo:hover {
	background-position: -120px bottom;
}
 .content{
 	padding:20px 0;
 }
  .content h2{ 
	font-size:1.5em;
	color:#025775;
	padding:5px 0;
 }		 
 /*** Content top ***/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	display: block;
	float:left;
	margin:1% 0 1% 0%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
	
.span_1_of_4 {
	width: 92%;
	padding:4%;
}
.num-heading{
	border-top:1px solid #00A1DA;
}
.number{
	float: left;
	padding:0 15px;
	background:#00A1DA;
	display: inline-block;
	text-align: center;
}
.number figure {
	text-align: center;
	padding:15px 0;
}
.number figure span {
	font-size:1.5em;
	line-height:25px;
	color:#FFF;
	display: block;
	margin-bottom: -3px;
	font-weight: bold;
}
.heading{
	float: left;
	padding-left:5%;
	width:65%;
	padding-top:10px;
}
.heading  h4{
	color: #222;
	font-size:1.5em;
	text-transform:uppercase;
}
.heading-desc p {
	font-size:0.8125em;
	color:#777;
	line-height:1.8em;
	padding:5px 0;
} 
/*** Buttons ****/
.button {
	float:right;
	font-size:0.8em;
	margin-top:5px;
	padding:8px 30px 8px 10px;
}
.button-icon {
	position: relative;
}
.button {
	display: inline-block;
	background: #10A0D5;
	color: #FFF;
	text-decoration: none;
	outline: 0;
}
.button:hover {
		background:#292929;
}
.button-icon:before {
	content: '';
	display: inline-block;
	width:30px;
	height:30px;
	background: url(../images/button-icon.png) no-repeat;
	position: absolute;
	right:-2px;
	top: 50%;
	margin-top:-10px;
}
/*** Content bottom ***/
.col_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col_1_of_3:first-child { margin-left: 0; }

.span_1_of_3 {
	width:92%;
	padding:4%; 
}
.span_1_of_3  h3{
	color:#03769E;
	margin-bottom:0.3em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
}
.span_1_of_3  p{
	font-size:0.8125em;
	color: #444;
	line-height: 1.6em;
	font-family :Arial, Helvetica, sans-serif;
}
.span_1_of_3 li{
	font-size:0.8125em;
	color:#777;
	padding:6px 0 6px 25px;
	background:url(../images/list-img.png) no-repeat 0px;
	cursor:pointer;
}
.span_1_of_3 li:hover{
    color:#00A1DA;
}
.span_1_of_3 img{
	border:1px solid #ECECEC;
	display:block;
}
.post-grid {
	padding: 10px 0px;
}
.post-grid img {
	float: left;
	width: 39%;
}
.post-grid p {
	float: right;
	width: 58%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color:#777;
	line-height: 1.5em;
}
.post-grid p span{
	color:#03769E;
	font-size:1em;
	font-weight:bold;
}
.post-grid p a{
	font-family: Arial, Helvetica, sans-serif;
	color:#03769E;
	line-height: 1.5em;
}
.post-grid p a:hover{
	color:#888;
}
/**** Footer *****/
  .footer{
	background:url(../images/footer-bg.png);
	clear:both;
 }
  .footer h3{
	font-size:1.2em;
	color: #A8A8A8;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #333;
 }
.post{
   padding-bottom:15px;
 }
 .post p{
	font-size:0.8125em;
	color:#949494;
	line-height:1.6em;
	padding:3px 0;
}
 .post p span a{
	color:#00A1DA;
	font-size:1em;
	cursor:pointer;
 }
 .post p span a:hover{
 	color:#FFF;
 }
 /*** footer social icons ***/
 .social_icons li{
 	list-style: none;
 }
 .social_icons ul li a.facebook span.icon {
	background: url(../images/social_icons.png) no-repeat 0 0;
 }
 .social_icons ul li a.facebook:hover span.icon{
 	background-position:0 -56px;
 }
 .social_icons ul li a.twitter span.icon{
 	background:url(../images/social_icons.png) no-repeat -55px 0;
 }
 .social_icons ul li a.twitter:hover span.icon{
 	background-position:-55px -56px;
 }
  .social_icons ul li a.rss span.icon{
 	background:url(../images/social_icons.png) no-repeat -110px 0;
 }
 .social_icons ul li a.rss:hover span.icon{
 	background-position:-110px -56px;
 }
 .social_icons ul li a span.icon {
	display: inline-block;
	margin-right:8px;
	width: 55px;
	height: 56px;
	vertical-align: top;
}
.social_icons ul li a span.inner {
	display: inline-block;
	padding-top: 10px;
	line-height: 18px;
	color:#949494;
	font-size:1em;
}
.social_icons ul li a span.inner:hover {
	color:#FFF;
}
.social_icons ul li a span.inner strong{
	font-size:1em;	
}
.span_1_of_4 li{
	font-size:0.8125em;
	color:#949494;
	padding:6px 0px;
	cursor:pointer;
	display:block;
}
.span_1_of_4 li a{
	font-size:1em;
	color:#949494;
	text-transform:uppercase;
	cursor:pointer;
	display:block;
}
.span_1_of_4 li a:hover{
    color:#00A1DA;
}
  .copy_right{
	text-align:center;
	padding:15px 0;
	border-top: 2px ridge #313131;
 }
  .copy_right p{
	font-size:12px;
	color:#949494;
 }
  .copy_right p a{
	color:#949494;
	font-size:12px;
	text-decoration:underline;
 }
  .copy_right p a:hover{
	color:#00A1DA;
	text-decoration:none;
 }
/* About */
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding:4%;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.cont{
	display: block;
	float:left;
}
.rightsidebar{
	display: block;
	float:left;
	margin: 0%;
}
.content:first-child { margin-left: 0; } 
.desc{
	display: block;
	float:left;
	margin: 0%;
}
.span_1_of_2{
	width:92%;
	padding:4%;
}
.images_3_of_2 {
	width:100%;
	float:left;
}
.span_3_of_2{
	width:100%;
}
.span_3_of_1{
	width:94%;
	padding:3%;
}
.images_3_of_2  img {
	max-width:100%;
	display:block;
}
.span_3_of_2  p span{
	color:#00A1DA;
	margin-bottom:0.3em;
	font-size:1em;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.span_3_of_2  p{
	font-size:0.8125em;
	padding:0.3em 0;
	color:#777;
	line-height: 1.6em;
	font-family :Arial, Helvetica, sans-serif; 	
}
.team{
	padding-top:30px;
	clear:both;
}
.team p{
	font-size:0.8em;
	color:#777;
	line-height: 1.6em;
	font-family :Arial, Helvetica, sans-serif; 	
}
.grid_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.grid_1_of_3:first-child { 
	margin-left: 0; 
} 
.images_1_of_3 {
	width:94%;
	padding:3%; 
}
.images_1_of_3  img {
	max-width:100%;
	display:block;
	border:1px solid #EBEBEB;
}
.images_1_of_3  h3{
	color:#00A1DA;
	margin-top:0.4em;
	margin-bottom:5px;
	font-size:1.2em;
	font-weight : normal;
}
.images_1_of_3  p  {
	font-size:0.8125em;
	color:#777;
	line-height: 1.8em;
}
.choose_us li{
	font-size:0.8em;
	padding:6px 0px 6px 14px;
	color:#777;
	background:url(../images/list_img.png) no-repeat 0;
	cursor:pointer;
}
.choose_us li:hover{
	color:#00A1DA;
	background:url(../images/list_img-hover.png) no-repeat 0;
}
/***** Latest comments *******/
.latest_comments{
	padding-top:20px;
}
.comments{
	padding:10px 0;
}
.latest_comments p{
	font-size: 0.8em;
	color:#444;
}
.latest_comments p span{
	font-weight:bold;
	color:#222;
}
.latest_comments h4{
	padding:3px 0;
}
.latest_comments h4 a{
	color:#00A1DA;
	font-size: 0.8em;
	font-style:italic;
}
.latest_comments h4 a:hover{
	text-decoration:underline;
}
/* Services  ============================================================================= */
.listview_1_of_2{
	display: block;
	float:left;
	margin:2% 0 2% 0%;
}
.listimg{
	display: block;
	float:left;
}
.text{
	display: block;
	float:left;
	margin: 0%;
}
.listview_1_of_2:first-child { margin-left: 0; } 

.images_1_of_2 {
	width:92%;
	padding:4%; 
}
.listimg_2_of_1 {
	width:100%;
}
.list_2_of_1 {
	width:100%;
}
.images_1_of_2  img {
	max-width:100%;
}
.list_2_of_1  h3{
	color:#222;
	margin-top:0.4em;
	margin-bottom:0.2em;
	font-size:1.5em;
	 font-family: 'bebas_neueregular';
	font-weight : normal;
}
.list_2_of_1  p{
	font-size:0.8125em;	
	color: #333;
	line-height: 1.6em;
	font-family : verdana, arial, helvetica, helve, sans-serif;
	padding:0; 	
}
/***** Blog*****/
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding:4%;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid {
	display: block;
	float:left;
	margin: 0%;
}
.grid:first-child { margin-left: 0; }

.images_3_of_1 {
	width:100%;
	position:relative;
}
.blog-leftgrids{
	padding-top:10px;
}
.blog-desc{
	width:100%;
}
.images_3_of_1  img {
	max-width:100%;
	display:block;
	margin-bottom:10px;
}
.blog-desc  h3 a{
	color: #222;
	font-size:1.2em;
	padding:0px;
}
.blog-desc  p {
	font-size:0.8em;
	color: #9b9b9b;
   line-height:1.8em;
}
/*----artical-links---*/
.artical-links{
	padding: 10px 0px;
	border: 1px solid rgba(192, 192, 192, 0.22);
	border-left: none;
	margin-top: 5px;
	border-right: none;
}
.artical-links ul li{
	display:inline-block;
}
.artical-links ul li:last-child{
	float:right;
}
.artical-links ul li img{
	vertical-align:middle;
	padding-right:5px;
}
.artical-links ul li a{
	font: 400 12px/22px Arial;
	color: #cbcbc3;
	padding-left:0px;
}
.artical-links ul li a:hover{
	color:#797D7E;
}
/*** Page numbers ***/
.content-pagenation{
	float:right;
	padding:35px 0;
}
.content-pagenation li {
	display: inline-block;
}
.content-pagenation li a {
	color:#10A0D5;
	font-size: 0.8em;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #FFF;
	padding:8px;
	border:1px solid #EEE;
}
.content-pagenation li a:hover{
	background:#10A0D5;
	color:#FFF;
}
/******* contact Form ******/
.col{
	display: block;
	float:left;
	margin:1% 0 1% 0;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width:92%;
	padding:4%; 
}
.span_1_of_3 {
	width:92%;
	padding:4%; 
}
.contact-form{
	position:relative;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:92%;
			background:#fcfcfc;
			border:1px solid #ECECEC;
			outline:none;
			color:#464646;
			font-size:1em;
			font-family:Arial, Helvetica, sans-serif;
}
.contact-form textarea{
		resize:none;
		height:100px;		
}
.contact-form input[type="submit"]{
	font-size:1em;
	padding:8px 20px;
	color:#FFF;
	border:none;
	cursor:pointer;
	background: #10A0D5;
	text-decoration: none;
	text-transform:uppercase;
	outline: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.contact-form input[type="submit"]:hover{
    background:#292929;  
}
.company_address p{
	font-size:0.8em;
	color:#333;
	padding:3px 0;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:10px;
}
/***** 404 ****/
.page-not-found{
	text-align:center;
	color: #353434;
	padding:20px 0;
}
.page-not-found h4{	
	font-size:2em;
}
.page-not-found h3{
	font-size:6em;
}
 